@tailwind base;
@tailwind components;
@tailwind utilities;
/* eslint-disable-next-line */

  /* eslint-disable-next-line */
  ::-moz-selection { /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: rgb(239, 174, 248);
  }
  /* eslint-disable-next-line */
  ::selection {
    color: rgb(0, 0, 0);
    background: rgb(244, 165, 252);
  }

body {
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family:'Rubik Iso';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fontpress{
  font-family: 'Press Start 2P';
}
.helvetica{
  font-family:  Helvetica;
}
.pirateone{
  font-family: 'Pirate one';
}
code {
  font-family: 'Rubik Mono One';
}






