@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  margin: 0;
  background-color: black;
  font-family:'Rubik Iso';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fontpress{
  font-family: 'Press Start 2P';
}
.helvetica{
  font-family:  Helvetica;
}
.pirateone{
  font-family: 'Pirate one';
}
code {
  font-family: 'Rubik Mono One';
}






