/* .hero-container { */
  /* position: relative; */
/* } */

.image-container { 
  position: relative;
  overflow: hidden;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; 
}
.swiper-slide-content {
  transition: transform 0.3s ease;
}

.swiper-slide-content:hover,
.swiper-slide-content:active {
  transform: scale(1.06) rotate(9deg);
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}


.click-effect {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #f7f7f7;
  border-radius: 50%;
  animation: clickAnimation 0.5s ease-out forwards;
}

@keyframes clickAnimation {
  to {
    width: 2000px;
    height: 2000px;
    opacity: 0;
  }
}

.hover-text {
  position: absolute;
  /* z-index: 100; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


.pirateone{
  font-family: 'Pirata One';
}

/* Add any additional styling as needed */

/* spin */
.image {
  /* position: absolute;s */
  /* top: 50%; */
  /* left: 50%; */
  /* width: 120px; */
  /* height: 120px; */
  /* display: flex; */


  float: right;
  margin-right: 10px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

@media (min-width: 768px) {
  .slider-glitter::before,
  .slider-glitter::after {
    content: '';
    position: absolute;
    top: 0;
    z-index: 50;
    width: 10%; /* Adjust the width as needed */
    height: 50%;
    background: linear-gradient(92.19deg, #F6CBFF 8.54%, rgba(255, 255, 255, 0) 102.6%);
    mix-blend-mode: hard-light;
    filter: blur(2px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(2px);
    animation: glitter 2s ease infinite;
  }

  .slider-glitter::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    z-index: 50;
    width: 20%; /* Adjust the width as needed */
    height: 50%;
    background: linear-gradient(to right, #F6CBFF 8.54%, rgba(255, 255, 255, 0) 102.6%);
    mix-blend-mode: hard-light;
    filter: blur(2px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(2px);
    animation: glitter 2s ease infinite;
  }

  .slider-glitter::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 50;
    width: 20%; /* Adjust the width as needed */
    height: 50%;
    background: linear-gradient(to left, #F6CBFF 8.54%, rgba(255, 255, 255, 0) 102.6%);
    mix-blend-mode: hard-light;
    filter: blur(2px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(2px);
    animation: glitter 2s ease infinite;
  }
}


/* @keyframes glitter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
} */



body{
  cursor: wait;
  
  
}

::selection{
  background-color: yellow;
  color: blueviolet;
}
.line1{
  transform: translate3d(0px, 0.25em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.line2{
  transform: translate3d(0px, -0.25em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

}

.preloader{
background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:9999;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
}

.nav-container {
  /* transition: background-color 0.5s ease; Add smooth transition for background color change */
}

.button{
  position: relative;
  z-index: 99;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right:-30px
}

.burger{
  width: 100%;
  
}
.burger::after,.burger::before{
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: black;
  position: relative;
  transition: transform 0.5s ease;
}

.burger::after{
  top: -5px;
}

.burger::before{
  top: 5px;
}

.burgerActive::after{
      transform: rotate(45deg);
      top: -1px;
      background-color: white;
  }

.burgerActive::before{
      transform: rotate(-45deg);
      top: 0px;
      background-color: white;
  }



.close-btn-icon-wrap {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  transform: rotate(45deg);
}
.close-btn-line {
  width: 35%;
  height: 0.09375em;
  background-color: var(--deep-blue);
}

.close-btn-line-2 {
  width: 0.09375em;
  height: 35%;
  background-color: var(--deep-blue);
  position: absolute;
}
.close-btn-bg {
  border: 0.09375em solid var(--deep-blue);
  border-radius: 100vw;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.rotate-on-hover {
  transition: transform 0.5s ease;
}

.rotate-on-hover:hover {
  transform: rotate(360deg); 
}