@tailwind base;
@tailwind components;
@tailwind utilities;
/* eslint-disable-next-line */

  /* eslint-disable-next-line */
  ::-moz-selection { /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: rgb(239, 174, 248);
  }
  /* eslint-disable-next-line */
  ::selection {
    color: rgb(0, 0, 0);
    background: rgb(244, 165, 252);
  }
  .ball{
    z-index: -1;
    filter: blur(100px);
  
  }
  @font-face {
    font-family: "Arges";
    font-style: normal;
    font-weight: 700;
    src: url(../public/arges-variable-wght-wdth-slnt.ttf) format("truetype");

  }
  @font-face {
    font-family: "VCR";
    font-style: normal;
    font-weight: 700;
    src: url(../public/vcr.ttf) format("truetype");
.Lora{
    font-family: 'Lora';
  }
  @font-face {
    font-family: "PP";
    /* font-style: normal; */
    /* font-weight: 00; */
    src: url(../public/PPMori-Extralight.otf) format("truetype");

  }
  html{
    background-color:#F4EAE1 ;
  }
  .PP{
    font-family: 'PP';
  }
body {
  overflow-x: hidden;
  margin: 0;
  background-color: "#F4EAE1" ;
  font-family:'PP';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fontpress{
  font-family: 'Press Start 2P';
}
.helvetica{
  font-family:  Helvetica;
}
.pirateone{
  font-family: 'Pirate one';
}
.code {
  font-family: 'Rubik Mono One';
}






@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  50%{
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideLeft {
  0% {
    transform: translateY(100%);
  }
  50%{
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .blr {
    filter: blur(180px);
  }
  .paddings {
    padding: 4rem;
  }
}
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}}


body{
  cursor: wait;
  
  
}

::selection{
  background-color: yellow;
  color: blueviolet;
}
.line1{
  transform: translate3d(0px, 0.25em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.line2{
  transform: translate3d(0px, -0.25em, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

}

.preloader{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:9999;
}


.button{
  position: relative;
  z-index: 99;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  right:-30px
}

.burger{
  width: 100%;
  
}
.burger::after,.burger::before{
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background-color: black;
  position: relative;
  transition: transform 0.5s ease;
}

.burger::after{
  top: -5px;
}

.burger::before{
  top: 5px;
}

.burgerActive::after{
      transform: rotate(45deg);
      top: -1px;
      background-color: white;
  }

.burgerActive::before{
      transform: rotate(-45deg);
      top: 0px;
      background-color: white;
  }


  
  
.close-btn-icon-wrap {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  transform: rotate(45deg);
}
.close-btn-line {
  width: 35%;
  height: 0.09375em;
  background-color: var(--deep-blue);
}

.close-btn-line-2 {
  width: 0.09375em;
  height: 35%;
  background-color: var(--deep-blue);
  position: absolute;
}
.close-btn-bg {
  border: 0.09375em solid var(--deep-blue);
  border-radius: 100vw;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.rotate-on-hover {
  transition: transform 0.5s ease;
}

.rotate-on-hover:hover {
  transform: rotate(360deg); 
}